#close {
    float: right;
    border: 0;
}

#lightbox-off {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#lightbox-on {
    position: fixed;
    background: rgba(0,0,0,0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: grid;
    align-items: center;
    justify-items: center;
}

#lightbox-inner {
    max-width: 1000px;
    padding: 20px;
}

#lightbox-img {
    width: 100%;
}